# Unidad 1 Conceptos Generales de Phyton

In [1]:
print("Litzy Nevarez")

Litzy Nevarez

In [1]:
print("Hola \n Mundo")

Hola
 Mundo

In [7]:
print("Hola Mundo")

Hola Mundo

In [8]:
print("************************")

************************

In [9]:
print("*" * 50)

**************************************************

In [10]:
print("Hola mundo" * 50)

Hola mundoHola mundoHola mundoHola mundoHola mundoHola mundoHola mundoHola mundoHola mundoHola mundoHola mundoHola mundoHola mundoHola mundoHola mundoHola mundoHola mundoHola mundoHola mundoHola mundoHola mundoHola mundoHola mundoHola mundoHola mundoHola mundoHola mundoHola mundoHola mundoHola mundoHola mundoHola mundoHola mundoHola mundoHola mundoHola mundoHola mundoHola mundoHola mundoHola mundoHola mundoHola mundoHola mundoHola mundoHola mundoHola mundoHola mundoHola mundoHola mundoHola mundo

## Operadores en Phyton

In [11]:
print(3 * 50)

150

In [12]:
print(10 / 3)

3.3333333333333335

In [13]:
print(10 // 3)

3

In [14]:
print(9 % 2)

1

In [15]:
print(2 + 3 * 5)

17

In [17]:
print((2 + 3) * 5)

25

In [18]:
x = 5
y = 3.1416
print(x * y)

15.708

In [19]:
type(x)

int

In [20]:
type(y)

float

### Convertir tipos de Datos

In [21]:
y = int(3.6)
print(y)

3

In [22]:
x = "300"
z = int(x)
print(z)

300

### Entrada de datos

In [23]:
variable = input("Escribe tu nombre: ")
print("Tu nombre es: ", variable)

Escribe tu nombre: Litzy
Tu nombre es:  Litzy

In [24]:
x = input("Proporcioname un numero para multiplicarlo por 5: ")
print(x * 5)

Proporcioname un numero para multiplicarlo por 5: 5
55555

In [25]:
x = int(input("Proporcioname un numero para multiplicarlo por 5: "))
print(x * 5)

Proporcioname un numero para multiplicarlo por 5: 5
25

#### Calcular la hipotenusa de un triangulo

In [35]:
import math
a = float(input("Ingrese el cateto a: "))
b = float(input("Ingrese el cateto b: "))
c = (a**2) + (b**2)
print("La hipotenusa es: ", math.sqrt(c))

Ingrese el cateto a: 4
Ingrese el cateto b: 8
La hipotenusa es:  8.94427190999916