# Analítica de Datos en las Organizaciones
# Docente: José Gabriel Rodriguez Rivas

# Unidad 1 Introduccion a los Datos

### Alumna: Nevarez García Litzy Yulissa

## Introducción al lenguaje de Programación Python

<a href="#1.2 La funcion print">1.2 La funcion print</a>

<a href="1.3 Tipos de datos">1.3 Tipos de datos</a>

<a href="1.4 Operadores">1.4 Operadores</a>

<a href="1.5 Expresiones y variables">1.5 Expresiones y variables</a>

<a href="1.6 Entrada de datos">1.6 Entrada de datos</a>

<a href="1.7 Condiciones - Control de flujo del programa">1.7 Condiciones - Control de flujo del programa</a>

<a href="1.8 Ciclos">1.8 Ciclos</a>

<a href="1.9 Funciones">1.9 Funciones</a>

<a href="1.10 Manejo de excepciones">1.10 Manejo de excepciones</a>


### Tema 1 Números.
* * *
**Int:** Es un número entero, positivo o negativo, sin decimales de longitud ilimitada.

**Float:** Flotante, es un número, positivo o negatico, que contiene uno o más decimales. El flotante también puede ser un número científico con una "e" para indicar el exponente de 10.

**Complex**: Los números complejos se escriben con una "j" como parte imaginaria: x = 1.10, y = 12E4, z = 3+fj, w = 18

In [1]:
3 + 2

5

In [2]:
10-7

3

### Tema 2. Variables
* * *
- Python no tiene comandos para declarar una variable.

- Una variable se crea en el momento en que primero le asigna un valor.

- Las variables no necesitan ser declaradas con ningún tipo en particular e incluso pueden cambiar el tipo después de que se hayan establecido.
- Un nombre de variable debe comenzar con una letra o el carácter de subrayado
- Un nombre de variable no puede comenzar con un número
- Un nombre de variable solo puede contener caracteres alfanuméricos y guiones bajos (A-z, 0-9 y _)
- Los nombres de las variables distinguen entre mayúsculas y minúsculas (age, Age y AGE son tres variables diferentes) Nombre = "Carlos"

In [3]:
Nombre = "Litzy"
Nombre

'Litzy'

In [4]:
Edad = 21
Edad

21

In [5]:
nombre1 = "Allan"
nombre2 = "Carlos"
nombre3 = "Sara"
print(nombre1, nombre2, nombre3)

Allan Carlos Sara

In [6]:
## No se pueden asignar palabras reservadas como nombres de variables
True = 100
print(True)

SyntaxError: cannot assign to True (3102447114.py, line 2)

In [7]:
## En este caso si se crea la variable TRue porque la 
## R mayuscula python no la reconoce como palabra reservada

100

In [8]:
# Se debe usar el guion bajo como separador de palabras como parte de un nombre de variable
Mi-Variable = 3
print(Mi-Variable)

SyntaxError: cannot assign to operator (4076447692.py, line 2)

In [9]:
# Se debe usar el guion bajo como separador de palabras como parte de un nombre de variable
Mi_Variable = 3
print(Mi_Variable)

3

## 1.2 La funcion print

In [10]:
#Imprimir una cadena de texto

print( "Hola")

Hola

In [11]:
# Inprimir el valor de una variable numerica
print(100)

100

In [12]:
# Inprimir el valor de una variable de cadena de texto
x = "Hola Mundo"
print(x)

Hola Mundo

In [13]:
print( 'El valor de x es', x )

El valor de x es Hola Mundo

In [14]:
x = 5 
y = 7
print(x * y)

35

In [15]:
# comentario de una sola linea

In [16]:
# Usamos el parametro end para especificar cual es el terminador de linea
# en una instruccion print
# CARACTER DE ESCAPE \

print( 'El valor de x es', x, end='***' )
print( 'El valor de \'y\' es', y)
print("Holas")

El valor de x es 5***El valor de 'y' es 7
Holas

In [17]:
# Imprimir comillas dobles dentro de un texto
print('Hola "Mundo" ')

Hola "Mundo"

In [18]:
#utilizar el carácter de escape \ para 
#poner comillas del mismo tipo

print('Hola \'Mundo\' ')

Hola 'Mundo'

In [19]:
# Tabulaciones dentro de la cadena de texto
print('Hola \tMundo ')

Hola 	Mundo

In [20]:
# Salto de linea  (Enter)  dentro de la cadena de texto
print('Hola \nMundo ')

Hola
Mundo

## 1.3 Tipos de datos

In [21]:
x= 1100000   #Enteros
x= 123.87   # Flotantes
x= "texto"
print(x)

texto

In [22]:
# Números con separardores de miles
# forzosamente debe usarse un guion bajo
x= 11_000_000
y= 5
print(x * y)

55000000

In [23]:
# Exponente
w= 0.08e3
print(w)

80.0

In [24]:
x = 'Hola "Mundo" '
print(x)

Hola "Mundo"

In [25]:
print("*********************************")

*********************************

In [26]:
print("*" * 50)

**************************************************

In [27]:
print("Hola " * 50)

Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola

In [28]:
# Potencias
print(3 **5)

243

In [29]:
# también se puede usar la funcion pow para la exponenciación 
pow(3,5)

243

## 1.4 Operadores
- Un operador es un símbolo del lenguaje de programación, el cual es capaz de realizar operaciones con los valores.

- Por ejemplo, como en la aritmética, el signo de + (más) es un operador el cual es capaz de sumar dos números, dando el resultado de la suma.

In [30]:
print(3 * 5.0)

15.0

In [31]:
# La division de numeros enteros siempre resulta en un float
print(10 / 2)

5.0

In [32]:
# El doble signo // dara un resultado sin la parte fraccionaria
print( 9 // 2)

4

In [33]:
print(9 % 2)

1

In [34]:
print(+2)

2

In [35]:
print((2 + 3) * 5)

25

In [36]:
 X = 123
print(X)
X= "hola"
print(X)

123
hola

In [37]:
#No usar palabras reservadas
True = 1

SyntaxError: cannot assign to True (3180767927.py, line 2)

### Evaluar o conocer el tipo de dato

In [38]:
Mensaje = "Hola mundo"
pi = 3.1416
X = 10

type(Mensaje)

str

In [39]:
type(pi)

float

### Operadores de comparación
| Operación | Significado |
| --- | --- |
| < | Estrictamente menor que |
| <= | Menor o igual que |
| > | Estrictamente mayor que |
| >= | Mayor o igual que |
| == | Igual que |
| != | Diferente que |
| is | Igualdad a nivel de identidad (Son el mismo objeto) |
| is not | Desigualdad a nivel de identidad (no son el mismo objeto) |

In [40]:
5 > 3

True

In [41]:
5 == 5

True

### **Casting** - Convertir de un tipo de dato a otro
1. **Int:** construye un número entero a partir de un literal entero, un literal flotante (redondeando hacia abajo al número entero anterior), o un literal de cadena (siempre que la cadena represente un número entero)

2. **float:** construye un número flotante a partir de un literal entero, un literal flotante o un literal de cadena (siempre que la cadena represente un flotante o un entero)

3. **str():** construye una cadena a partir de una amplia variedad de tipos de datos, incluidas cadenas, literales enteros y literales flotantes

In [42]:
# y will be 2
y = int(2.8) 
y

2

In [43]:
# z will be 3
z = int("3") 
z

3

## 1.5 Expresiones y variables
Una expresión es una combinación de valores (o variables, operadores, llamadas a funciones, las cuales son evaluadas y dan como resultado un valor, por ejemplo, 1 + 2.

### Prioridad de operadores
| Descripción | Operador |
| ---------------------  | -------- |
| Exponenciacion | ** |
| Multiplicación, multiplicación de matrices, división, división de redondeo, residuo o Módulo | * @ / // % |
| Suma y Resta | + - |

In [44]:
x = 3 + 2 * 5
print(x)

13

In [45]:
x = (3 + 2) * 5
print(x)

25

In [46]:
x = ( (25 % 13) + 100) / (2 * 13)
print(x)

4.3076923076923075

In [47]:
print( 5 > 7 )

False

In [48]:
# Un signo de igual sirve para asignar un valor, por lo tanto marca error
print( 5 = 7 )

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (3634147272.py, line 2)

In [49]:
# Doble signo de igual sirve para comparar
print( 5 == 7 )

False

## 1.6 Entrada de datos
- La función input() es capaz de leer datos que fueron introducidos por el usuario y pasar esos datos al programa en ejecución.

- El resultado debe ser asignado a una variable; esto es crucial, si no se hace los datos introducidos se perderán.

- La función pondrá la consola en modo de entrada; aparecerá un cursor que parpadea, y podrás introducir datos con el teclado, al terminar presiona la tecla Enter

In [50]:
variable = input("Escribe tu nombre")
print("Tu nombre es ", variable)

Escribe tu nombreLitzy
Tu nombre es  Litzy

In [51]:
nom = input("¿Me puedes dar tu nombre por favor? ")
ape = input("¿Me puedes dar tu apellido por favor? ")
print("Gracias.")
print("\nTu nombre es " + nom + " " + ape + ".")

¿Me puedes dar tu nombre por favor? Nevarez
¿Me puedes dar tu apellido por favor? Litzy
Gracias.

Tu nombre es Nevarez Litzy.

In [52]:
nom = input("¿Me puedes dar tu nombre por favor? ")
ape = input("¿Me puedes dar tu apellido por favor? ")
print("Gracias.")
print("\nTu nombre es " + nom + " " + ape + ".")

¿Me puedes dar tu nombre por favor? Litzy
¿Me puedes dar tu apellido por favor? Nevarez
Gracias.

Tu nombre es Litzy Nevarez.

In [53]:
# El dato que se captura por teclado es string aunque se proporcione un numero
x = input("Dame un numero para multiplicar") 
z = x * 5
print(z)

Dame un numero para multiplicar7
77777

In [54]:
x = int(input("Dame un numero para multiplicar") )
z = x * 5
print(z)

Dame un numero para multiplicar5
25

### Ejercicio 1 de lectura de datos
#### Calcular la longitud de la hipotenusa

In [55]:
import math
a = float(input("Ingrese el cateto a: "))
b = float(input("Ingrese el cateto b: "))
c = (a**2) + (b**2)
print("La hipotenusa es: ", math.sqrt(c))

Ingrese el cateto a: 4
Ingrese el cateto b: 8
La hipotenusa es:  8.94427190999916

## 1.7 Condiciones
En programación, una sentencia condicional es una instrucción o grupo de instrucciones que se pueden ejecutar o no en función del resultado (TRUE o FALSE) de una expresión.

### if else
Ejecuta codigo dependiendo del resultado de una condición

if true_or_false_condition:

    perform_if_condition_true
    
else:

    perform_if_condition_false

La ejecución de if-else es la siguiente:

- Si la condición se evalúa como True (su valor no es igual a cero), la instrucción perform_if_condition_true se ejecuta, y la sentencia condicional llega a su fin.

- Si la condición se evalúa como False (es igual a cero), la instrucción perform_if_condition_false se ejecuta, y la sentencia condicional llega a su fin.

1. El resultado de la condicion debe ser verdadero (TRUE) o falso (FALSE)

2. Python se basa en la sangría, usando espacios en blanco, para definir el alcance en el código.

3. Otros lenguajes de programación a menudo utilizan llaves para este propósito.

In [56]:
a = 5000
b = 7000
if b > a:
    print("b es mayor que a")
else:
    print("a es mayor que b")
    
print("Fuera del if")

b es mayor que a
Fuera del if

In [57]:
a = 5000
b = 7000
if b > a:
    print("b es mayor que a")
    print(b," es mayor que ",a)
else:
    print("a es mayor que b")
    print(a," es mayor que ",b)
    
print("Fuera del if")

b es mayor que a
7000  es mayor que  5000
Fuera del if